<% provide(:about, "active") %>
<% provide(:title, "About") %>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h3 class="heading"> About Us </h3>
			<p>Lorem ipsum dolor sit amet, pede occaecat adipiscing, nunc id dui dapibus velit, eros mattis condimentum, ac pharetra duis a elementum nulla, dictum elit nam semper suspendisse sollicitudin. Justo arcu enim. Lacinia nulla mi enim wisi nibh, enim tellus enim reiciendis vel praesent. Nascetur ac, ut pellentesque justo metus felis consequatur hac, urna viverra eu cursus quam quis, non id fusce quam in, blandit lectus etiam dapibus ultrices. Sem dictum aliquet gravida ut commodo nostra, nulla fusce ut, rutrum suscipit eu, eu quam nisl quisque elit felis, praesent malesuada vitae nunc. Amet vitae netus tortor molestiae eros, scelerisque placerat sociis convallis lectus, magna mi, nunc sollicitudin massa lacinia fusce ut.
			<a href="/contact">Contact Us</a></p>
			<hr>
		</div>
		<div class="col-md-5">
			<img alt="About"  class="img-responsive" src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Our Services</h3>
		</div>
		<div class="services">
			<div class="col-md-4">
				<h4>House Keeping</h4>
				<p>Lorem ipsum dolor sit amet, pede occaecat adipiscing, nunc id dui dapibus velit, eros mattis condimentum, ac pharetra duis a elementum nulla, dictum elit nam semper suspendisse sollicitudin. Justo arcu enim. Lacinia nulla mi enim wisi nibh, enim tellus enim reiciendis vel praesent. Nascetur ac, ut pellentesque justo metus felis consequatur hac, urna viverra eu cursus quam quis, non id fusce quam in, blandit lectus etiam dapibus ultrices. Sem dictum aliquet gravida ut commodo nostra, nulla fusce ut, rutrum suscipit eu, eu quam nisl quisque elit felis, praesent malesuada vitae nunc. Amet vitae netus tortor molestiae eros, scelerisque placerat sociis convallis lectus, magna mi, nunc sollicitudin massa lacinia fusce ut.</p>
			</div>
			<div class="col-md-4">
				<h4>House Keeping</h4>
				<p>Lorem ipsum dolor sit amet, pede occaecat adipiscing, nunc id dui dapibus velit, eros mattis condimentum, ac pharetra duis a elementum nulla, dictum elit nam semper suspendisse sollicitudin. Justo arcu enim. Lacinia nulla mi enim wisi nibh, enim tellus enim reiciendis vel praesent. Nascetur ac, ut pellentesque justo metus felis consequatur hac, urna viverra eu cursus quam quis, non id fusce quam in, blandit lectus etiam dapibus ultrices. Sem dictum aliquet gravida ut commodo nostra, nulla fusce ut, rutrum suscipit eu, eu quam nisl quisque elit felis, praesent malesuada vitae nunc. Amet vitae netus tortor molestiae eros, scelerisque placerat sociis convallis lectus, magna mi, nunc sollicitudin massa lacinia fusce ut.</p>
			</div>
			<div class="col-md-4">
				<h4>House Keeping</h4>
				<p>Lorem ipsum dolor sit amet, pede occaecat adipiscing, nunc id dui dapibus velit, eros mattis condimentum, ac pharetra duis a elementum nulla, dictum elit nam semper suspendisse sollicitudin. Justo arcu enim. Lacinia nulla mi enim wisi nibh, enim tellus enim reiciendis vel praesent. Nascetur ac, ut pellentesque justo metus felis consequatur hac, urna viverra eu cursus quam quis, non id fusce quam in, blandit lectus etiam dapibus ultrices. Sem dictum aliquet gravida ut commodo nostra, nulla fusce ut, rutrum suscipit eu, eu quam nisl quisque elit felis, praesent malesuada vitae nunc. Amet vitae netus tortor molestiae eros, scelerisque placerat sociis convallis lectus, magna mi, nunc sollicitudin massa lacinia fusce ut.</p>
			</div>
		</div>
	</div>
</div>